.mainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: rgb(211, 211, 211);
}

.hidden {
  display:none;
  background-color: aqua;
}