.CardContainer {
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: black;
  margin: 1rem;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
}

.cardHeader {
  background-color: black;
  position: absolute;
  top: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cardHeader h4 {
  margin: 3px 0 0 0;
  color: white;
}

.cardImage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.cardImage img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 30px;
}

.teamsTitle {
  margin: 5px;
  font-weight: 700;
  color: white;
}

.teams {
  margin: 0px 20px 0px 20px;
  font-size: small;
  color: white;
}