.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}
.searchBar button {
  width: 80px;
  height: 20px;
}
/* .NavLinkButton {
  width: 80px;
  height: 15px;
}
.NavLinkButton button {
  width: 80px;
  height: 20px;
  margin: 0px; */
  /* border: 0px;
  padding: 0px;
} */




.filters {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.filters select {
  padding: 5px;
  margin: 10px;
}